@font-face {
    font-family: "NeueMachina";
    src: url("../assets/NeueMachina/NeueMachina-Ultralight.woff2");
    font-weight: 200;
}

@font-face {
    font-family: "NeueMachina";
    src: url("../assets/NeueMachina/NeueMachina-Light.woff2");
    font-weight: 400;
}

@font-face {
    font-family: "NeueMachina";
    src: url("../assets/NeueMachina/NeueMachina-Medium.woff2");
    font-weight: 600;
}

@font-face {
    font-family: "Nexa";
    src: url("../assets/Nexa/Nexa-Thin.woff"),
    url("../assets/Nexa/Nexa-Thin.woff2");
    font-weight: 200;
}

@font-face {
    font-family: "Nexa";
    src: url("../assets/Nexa/Nexa-Light.woff"),
    url("../assets/Nexa/Nexa-Light.woff2");
    font-weight: 400;
}


@font-face {
    font-family: "Nexa";
    src: url("../assets/Nexa/Nexa-Book.woff"),
    url("../assets/Nexa/Nexa-Book.woff2");
    font-weight: 500;
}


/* @font-face {
    font-family: "Nexa";
    src: url("../assets/Nexa/Nexa-Bold.woff2"),
    url("../assets/Nexa/Nexa-Bold.woff2");
    font-weight: 600;
} */