@font-face {
    font-family: "NeueMachina";
    src: url("../assets/NeueMachina/NeueMachina-Ultralight.woff2"),
    url("../assets/NeueMachina/NeueMachina-Light.woff2"),
    url("../assets/NeueMachina/NeueMachina-Medium.woff2");
    font-display: fallback;
}

@font-face {
    font-family: "Nexa";
    src: url("../assets/Nexa/Nexa-Thin.woff"),
    url("../assets/Nexa/Nexa-Thin.woff2"),
    url("../assets/Nexa/Nexa-Light.woff"),
    url("../assets/Nexa/Nexa-Light.woff2"),
    url("../assets/Nexa/Nexa-Regular.woff"),
    url("../assets/Nexa/Nexa-Regular.woff2");
    font-display: fallback;
}